body {
    background-image: url(images/login.jpg);
}
.container {
    background: #ffffff;
    margin: auto;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 5px;    
}

button.register {
    background-color: #004d4d;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}

div.form-group {
    margin-top: 5%;
}

#margin {
    margin-top: 20px;
}